.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block-start: 1rem;  
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }

.title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 2rem 1rem;
    font-size: 1rem;
    text-align: center;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: bold;
  }

.main {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 1.5rem;
min-height: 100vh;
}


.photoTileLink {
    width: 275px;
    min-width: 275px;
    max-width: 400px;
}

.back {
    color: #7D7D7D;
    font-size: 1rem;
    min-width: 75px;
    font-weight: bold;
    // word-break:break-all;
    // overflow-wrap: break-word;
    padding-inline-end: 0.75rem;
    border-inline-end: 3px solid #7D7D7D;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    .albumTitle {
        padding-inline-start: 0.75rem;
    }
}