.modal {
  scale: 0.5;
  background-color: #fff;
  color: #fff;
}

.close {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  cursor: pointer;
}

.title {
  z-index: 2;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  top: 9rem;
  font-size: 0.8rem;
}