.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #efefef;
    color: #121212;
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    align-self: start;
    overflow: hidden;
    max-height: 400px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    border-radius: 5px;
    border: 0;
  }
  
  .title {
    text-align: left;
    display: inline;
  }
  
  .thumbnail {
    width: clamp(90%, 150px, 90%);
    height: clamp(90%, 150px, 90%);
    display: none;
    border-radius: 5px;
  }